In [1]:
import pandas as pd

In [2]:
notas = pd.read_csv('./bases/ml-latest-small/ratings.csv')

In [3]:
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
notas.shape

(100836, 4)

# Mudar nome das colunas usando o Pandas

In [24]:
notas.columns = ['UsuarioId', 'FilmeId', 'nota', 'momento']
notas.head()

   UsuarioId  FilmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931